.list-menu--right {
  right: 0;
}

.list-menu--disclosure {
  position: absolute;
  min-width: 100%;
  width: 20rem;
  border: 1px solid rgba(var(--color-foreground), 0.2);
}

.list-menu--disclosure:focus {
  outline: none;
}

.list-menu__item--active {
  text-decoration: underline;
  text-underline-offset: 0.3rem;
}

.list-menu__item--active:hover {
  text-decoration-thickness: 0.2rem;
}

.list-menu--disclosure.localization-selector {
  max-height: 18rem;
  overflow: auto;
  width: 10rem;
  padding: 0.25rem;
}

.list-menu--disclosure h2,
.list-menu--disclosure h3,
.list-menu--disclosure .list-menu__title {
  margin-bottom: 0.3rem; /* was ~0.6rem */
  margin-top: 0.6rem;   /* was ~1.2rem */
  line-height: 1.2;
}
