@font-face {
    font-family: 'TTrade Gothic LT Std';
    src: url("//lloydsteven.com/cdn/shop/t/17/assets/TradeGothicLTStd.woff?v=77624327494265800781727237723") format('woff');
}

@font-face {
    font-family: 'DaVinci';
    src: url("https://cdn.shopify.com/s/files/1/0619/3250/3240/files/TRJNDaVinci-Regular-Trial.ttf?v=1754413031") format('truetype');
}

