.field {
  position: relative;
  width: 100%;
  display: block;
  transition: box-shadow var(--duration-short) ease;
}
.field:hover {
  border: none;
  outline: none;
}

.field:before {
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.field:after {
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.field__label {
  color: black;
  text-transform: uppercase;
  position: relative;
  top: 0;
  left: 0;
  font-size: 1.3rem;
}

.field__input {
  margin-top: 1rem;
  border: 1px solid black;
  background: none;
}

.field::after,
.select::after,
.customer .field::after,
.customer select::after,
.localization-form__select::after {
  content: none;
  position: none;
}

.field__input:focus,
.field__input:not(:placeholder-shown),
.field__input:autofill,
.customer .field input:focus,
.customer .field input:not(:placeholder-shown),
.customer .field input:autofill {
  padding: 0 2rem 0 1.5rem;
}

.contact {
  max-width: 90%;
  color: #1a1b1d;
  border-radius: 7px;
}

.contact p {
  line-height: calc(1 + 0.5 / var(--font-body-scale));
}

.contact .title {
  font-family: DaVinci;
  font-size: calc(var(--font-heading-scale) * 4rem);
}

.contact img {
  max-width: 100%;
}

.contact .form__message {
  align-items: flex-start;
}

.contact .icon-success {
  margin-top: 0.2rem;
}

.contact .field {
  margin-bottom: 1.5rem;
}

.contact__button {
  margin-top: 3rem;
}

.contact_button button {
  text-transform: uppercase;
}

@media screen and (min-width: 750px) {
  .contact {
    max-width: calc(var(--page-width) * 0.5);
    padding-left: 10rem;
    padding-right: 10rem;
  }
  .contact p {
    line-height: calc(1 + 0.8 / var(--font-body-scale));
  }
  .contact .title {
    font-size: calc(var(--font-heading-scale) * 3rem;
  }
  .contact__button {
    margin-top: 4rem;
  }
  .contact__fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
  }
  .contact .field {
    margin-bottom: 2rem;
  }
}
